<% provide(:title, "Home") %>

<div class="card float-center" style="width: 80%;">
  <div class="card-section">
    <h2 class="text-center">Welcome to the Announcement App! </h2>
  </div>
  <% if user_signed_in? %>
    <div class="card-section">
      <p class="text-center">Create announcements to inform other users whatever you want.</p>
      <p class="text-center">Mark announcements as seen if they're no longer important to you!</p>
      <p class="text-center">Choose how long you want your announcements to remain valid.</p>
    </div>
  <% else %>
    <div class="card-section">
      <h3 class="text-center"><%= link_to "Log in", new_user_session_path %> to start creating announcements!</h3>
      <h5 class="text-center">Or <%= link_to "create an account", new_user_registration_path %></h5>
    </div>
  <% end %>
</div>
